:root {
    color-scheme: light dark;
}

body {
    height: 300px;
    width: 300px;
}

@media (prefers-color-scheme: no-preference) {
     body {
        background-color: white;
     }
     #greetingDiv p, #bottomDiv p, #speedSlider, #wpmLabelDiv  {
         color: black;
     }
}

@media (prefers-color-scheme: light) {
    body {
         background-color: white;
     }
     #greetingDiv p, #bottomDiv p, #speedSlider, #wpmLabelDiv  {
         color: black;
     }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(49, 48, 48);
    }
    #greetingDiv p, #bottomDiv p, #speedSlider, #wpmLabelDiv {
        color: seashell;
    }
}

#greetingDiv, #startDiv, #settingsButtonDiv, #sliderDiv, #wpmLabelDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

#greetingDiv {
    font-size: xx-large;
}

